@model demogsoft1.Models.trnSalesItem

@{
    ViewBag.Title = "AddSalesItem";
}

<h2>Add Sales Item</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
  
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.SalesId, "SalesId", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.SalesId, ViewBag.SaleList as SelectList, "Select an pid", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SalesId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ItemId, "ItemId", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.ItemId, ViewBag.ItemList as SelectList, "Select an pid", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ItemId, "", new { @class = "text-danger" })
        </div>
    </div>

   
    <div class="form-group">
        @Html.LabelFor(model => model.Qty, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Qty, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Qty, "", new { @class = "text-danger" })
        </div>
    </div>









    <div class="form-group">
        @Html.LabelFor(model => model.DIscPrc, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DIscPrc, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DIscPrc, "", new { @class = "text-danger" })
        </div>
    </div>





    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">

            <input type="submit" value="Create" class="btn btn-primary" />
            @Html.ActionLink("Save", "SalesList", "Sales", new { @class = "btn btn-success" })
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "SalesItemList","Sales",new {@class="btn btn-warning"})
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
